@page "/all-trips"
@inject MXService MXService

<PageTitle>All trips</PageTitle>

<h1>All trips works!</h1>

@if (_forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MDataTable Headers="_headers" Items="_forecasts" ItemsPerPage="5">
        <ItemColContent>
            @context.Value
        </ItemColContent>
    </MDataTable>
}

@code {

    private List<DataTableHeader<MXAccount>> _headers = new()
    {
        new() { Text = "Balance", Value = nameof(MXAccount.Balance) },
    };

    private MXAccount[]? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await MXService.GetBalance();
    }

}
