@import "CommonStyles.scss";

//TO DO: styles don`t apply 
body {
    background-color: $darkBackgroundColor;
}

.drawer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $darkBackgroundColor;

    .drawer-list {
        background-color: $darkBackgroundColor;

        .list-item {
            font-size: 15px;
            font-weight: bold;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}


